.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f3e4cb;
}

.button > input {
  width: 50%;
  height: 50%;
}
